<header class="main-header" style="z-index:5;">

  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>易过户</b></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <!--<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">-->
      <!--<span class="sr-only">Toggle navigation</span>-->
    <!--</a>-->
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <!-- /.messages-menu -->

        <!-- Notifications Menu -->
        <!-- Tasks Menu -->
        <!-- User Account Menu -->
        <!--<li class="dropdown user user-menu">-->
        <!--&lt;!&ndash; Menu Toggle Button &ndash;&gt;-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
        <!--&lt;!&ndash; hidden-xs hides the username on small devices so only the image appears. &ndash;&gt;-->
        <!--<span class="hidden-xs">Alexander Pierce</span>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu">-->
        <!--&lt;!&ndash; The user image in the menu &ndash;&gt;-->
        <!--<li class="user-header">-->
        <!--<p>-->
        <!--磊磊 - 系统管理员-->
        <!--<small>注册于2010.12.12</small>-->
        <!--</p>-->
        <!--</li>-->
        <!--&lt;!&ndash; Menu Footer&ndash;&gt;-->
        <!--<li class="user-footer">-->
        <!--<div class="pull-left">-->
        <!--<a href="#" class="btn btn-default btn-flat">个人信息</a>-->
        <!--</div>-->
        <!--<div class="pull-right">-->
        <!--<a href="#" class="btn btn-default btn-flat">退出登录</a>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</li>-->
        <li>
          <button type="button" class="btn btn-block btn-success" style="margin-top: 8px;" (click)="logout()">退出登录</button>
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li>
          <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
