<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>易过户</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

  <!-- Main Header -->
  <app-header></app-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-menu></app-menu>

  <app-content>

  </app-content>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <app-footer></app-footer>

  <!-- Control Sidebar -->
  <app-sidebar></app-sidebar>

</div>

</body>
</html>

<!--<p>-->
  <!--欢迎登陆易过户系统！-->
<!--</p>-->
