<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">车辆信息查询</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal" [formGroup]="formGroup">
    <div class="box-body">
      <div class="form-group">
        <label class="col-sm-2 control-label">车架号</label>
        <div class="col-sm-3">
          <input type="text" class="form-control"  formControlName="carnum">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">车辆详情</label>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">品牌</div>
          <select class="form-control" formControlName="carbrand" (change)="showSet($event)">
            <option disabled selected = "selected">请选择品牌</option>
            <option *ngFor="let c of carbrand | async; let i = index" value="{{c}}">{{c}}</option>
          </select>
        </div>
        <div class="col-sm-2" style="display:table;">
          <div class="input-group-addon">车系</div>
          <select class="form-control" formControlName="carset">
            <option disabled selected = "selected">请选择车系</option>
            <option *ngFor="let c of carset | async; let i = index" value="{{c}}">{{c}}</option>
          </select>
        </div>
        <!--<div class="col-sm-3" style="display:table;">-->
          <!--<div class="input-group-addon">车型</div>-->
          <!--<select class="form-control">-->
            <!--<option value="运动">2018 2.0T 运动</option>-->
          <!--</select>-->
        <!--</div>-->
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">初次登记日期</label>
        <div class="col-sm-3" style="display:table;">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input type="text" class="form-control" id="carmgt_form_dp" formControlName="firstdate">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">创建人</label>
        <div class="col-sm-2">
          <select class="form-control" formControlName="creator">
            <option *ngFor="let c of users | async; let i = index" value="{{c.username}}">{{c.username}}</option>
          </select>
        </div>
        <!--<span><i class="fa fa-fw fa-plus-square-o" (click)="addContact()"></i></span>-->
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="botton" class="btn btn-primary pull-left" (click)="create()">新建车辆</button>&nbsp;&nbsp;
      <button type="submit" class="btn btn-success pull-left" style="margin-left:5px;" (click)="search()">查询</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>

<div class="box">
  <div class="box-header">
    <h3 class="box-title">查询结果</h3>
    <!--<button>Excel导出</button>-->
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="cusmgtTable" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>车辆编号</th>
        <th>品牌</th>
        <th>车系</th>
        <th>车架号</th>
        <th>初次登记日期</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars | async; let i = index;">
        <td>{{car.carid}}</td>
        <td>{{car.carbrand}}</td>
        <td>{{car.carset}}</td>
        <td>{{car.carnum}}</td>
        <td>{{dService.dateFmt(car.firstdate)}}</td>
        <td>{{car.creator}}</td>
        <td>{{dService.dateFmt(car.createdate)}}</td>
        <td>
          <a class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil" (click)="edit(car.carid)"></span>编辑</a>
          <!--<a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>删除</a>-->
          <a class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus" (click)="createOrder(car.carid)"></span>创建订单</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
  <!-- /.box-body -->
</div>
